
body{
    margin: 0;
   
}
.icon-bar{
    width:100%;
    background-color: chartreuse;
   overflow:auto;
}
.icon-bar a{
    padding: 12px 0;
    width: 20%;
   
    text-align: center;
    color:white;
    font-size: 36px;
   float: left;
}
.icon-bar a:hover{
    background-color: black;
}
